span.selectedWord {
	color: darkgreen;
	font-weight:bold;
}

div.rcorners2 {
	background-color: lightblue;
    	margin: auto;
    	border-radius: 25px;
    	border: 2px solid #73AD21;
    	padding: 20px;
    	width: 600px;
}

p.highlight {
	background-color: ghostwhite;
}
